@page
@model ProyectoCiclo3.App.Frontend.Pages.EditBusModel
@{
    var bus = Model.Bus;
}

<div class="text-center">
    <form method="POST">
        <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@bus.id" readonly>
        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="Marca"
            asp-for="@bus.marca">
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="Modelo"
            asp-for="@bus.modelo">
        <label for="kilometraje" class="form-label">Kilometraje:</label>
        <input type="number" class="form-control" id="kilometraje" name="kilometraje" required placeholder="Kilometraje"
            asp-for="@bus.kilometraje">
        <label for="numero-asientos" class="form-label">Numero de asientos:</label>
        <input type="number" class="form-control" id="numero-asientos" name="numero-asientos" required
            placeholder="Numero de asientos" asp-for="@bus.numero_asientos">
        <label for="placa" class="form-label">Placa:</label>
        <input type="text" class="form-control" id="placa" name="placa" required placeholder="Placa"
            asp-for="@bus.placa">

        <hr>
        <button type="submit" class="btn btn-success">Actualizar</button>
    </form>
</div>